@CHARSET "UTF-8";
html{
height:100%;
background-color:#aac;
	
}
body{
width:80%;
background-color:#f00;
border:1px solid red;
float:right;
margin-top:30%;
	
}




/* CSS HEADER */

header{
	background-color:#cfF;
	height:100px;
	width:100%;
	border:1px solid black;
}




/* CSS MAIN */


main{
	background-color:#cfc;
	border:1px solid black;
	height:800px;
	width:100%;
}






/* CSS FOOTER */

 footer{
 	background-color:#CCC;
	height:100px;
	width:100%;
 }
 footer div {padding: 20px;}
 #copyright {float: left; font-size: 1.2em;}
 #responsiveIcon {
 	width: 100px; float: right;	
 }